.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 300px;
  height: 200px;
  background-image: url('https://picsum.photos/300/200?image=56');
  padding: 0;
  border-radius: 5px;
  margin-top: 20px;
  h2 {
    width: 300px;
    background-color: white;
    text-align: center;
  }
  a {
    color: black;
  }
  .icons {
    text-align: center;
    .far, .fas {
      margin: 20px;
    }
  }
}
