.cocktail-header {
  background-size: cover;
  height: 400px;
  text-align: center;
  padding-top: 50px;
  h1 {
    color: white;
    font-weight: bolder;
    padding-bottom: 50px;
  }
  a {
    color: white;
  }
}
